<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aero Club Nitte</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo_aero.png" rel="icon">
  <link href="../img/logo_aero.png" rel="logo_aero">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Sedgwick+Ave+Display&display=swap"
    rel="stylesheet">


  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container_new">

      <div class="logo float-left" style="height: max-content;">


        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#"><img src="../img/logo_aero.png" alt="" style=" height: 100px; width: 55px;" class="img-fluid"></a>
      </div>



      <nav class="nav-menu float-right d-none d-lg-block ">

        <ul>
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/vayurvya">Vayurvya</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <img src="../img/ac_logo-removebg-preview1.png" style="height:220px" alt="">
          <h2 class="animated fadeInDown">AERO CLUB NITTE</h2>
          <p class="animated fadeInUp">Aero Club Nitte is the official Aeromodelling club of NMAM Institute of
            Technology. Sailing into its 10th year, it consists of students from inter disciplinary branches where we
            encourage and support young minds to gain more knowledge, skills and achieve excellence in the field of
            UAV's.</p>
          <a class="btn-get-started scrollto" href="https://forms.gle/5z19yPjLTH2qb4ATA">Membership
            Registration!</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <img src="../img/10th_yr_logo.png" style="height: 200px;">
          <h2 class="animated fadeInDown"></h2>
          <p class="animated fadeInUp">Stepping into a decade of prosperity, Vayurvya which translates to Atmosphere of
            Good Energy,creates a horizon of wide range of opportunities for the aviation enthusiasts worldwide to
            connect, craft and cultivate their
            skills.
          </p>
          <a class="btn-get-started scrollto" href="/vayurvya">Register!</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <img src="../img/quadcopter.png" style="height: 250px;" alt="">
          <h2 class="animated fadeInDown">QUADCOPTER WORKSHOP </h2>
          <p class="animated fadeInUp">Aeroclub's Second Workshop of 2023 on November 25th and 26th offers a hands-on quadcopter fabrication 
           experience, from assembly to flight. Join us for comprehensive knowledge and enjoyable flights!</p>
          <a class="btn-get-started scrollto" href="https://forms.gle/MfB3gz8cZn44FQLL9">Registrations closed!</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->


  <!-- <div class="scrolling-box" id="scrollingBox" >
    <div class="heading">
      <a href="#"><img src="../img/10th_yr_logo.png" class="img-fluid float-left"
          style="width:100px; padding-top:2%; margin-left: 5%;  background: transparent;" alt="10yrannlogo"></a>
      <h1 style="text-align: center; font-size:40px; font-family:'Sedgwick Ave Display', cursive; padding-top:3%;">
        Vayurvya : The legacy of the decade</h1>
        <div class="float-right" style="padding-right: 10%; margin-top: -3%;">
          <a href="#events"><button class="button-28"  role="button" style="background-color:cadetblue; ">Events</button></a>

        </div>
        
    </div>
  </div>
  <br><br><br><br> -->


  <main id="main">

    <!-- ======= events ======= -->
    <!-- <section class="services" id="events">
      <div class="container_new">
        <h1 class="section-title"
          style="background: linear-gradient(#68A4C4, white); padding: 5%; font-family:'Sedgwick Ave Display', cursive;">
          <center><b>Vayurvya Events</b></center>
        </h1>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bx-paper-plane"></i></div>
              <h4 class="title"><a href="">RC aeromodelling competition</a></h4>
              <p class="description">Challenging a radio controlled aircraft to take off and make its way past the turbulence of hurdles, safely touching down the runway
              </p>
              <br><br><br>
              <div class=" d-flex" style="justify-content:space-around; padding-top: 18px;">
                <a href="#"><button class="button-28"  role="button">Register</button></a>
                <a href="#"><button class="button-28"  role="button">Rulebook</button></a>
              </div>

           </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="50">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-plane-alt"></i></div>
              <h4 class="title"><a href="">SkySustain X</a></h4>
              <p class="description">This workshop gives hands on training in building and understanding theory behind
                Remote-Controlled fixed wing planes</p>
                <br><br><br>
                <div class=" d-flex" style="justify-content:space-around; padding-top: 18px;">
                  <a href="#"><button class="button-28"  role="button">Register</button></a>
                  <a href="#"><button class="button-28"  role="button">Rulebook</button></a>
                </div>
            </div>
          </div>

          

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bxs-plane-take-off"></i></div>
              <h4 class="title"><a href="">SkyProbe
              </a></h4>
              <p class="description">Step into the shoes of a  crash investigator and unravel the mysteries behind catastrophic accidents in this immersive and challenging game

              </p>
              <br><br>
              <div class=" d-flex" style="justify-content:space-around; padding-top: 18px;">
                <a href="#"><button class="button-28"  role="button">Register</button></a>
                <a href="#"><button class="button-28"  role="button">Rulebook</button></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx 
                bx-compass"></i></div>
              <h4 class="title"><a href="">Comet</a></h4>
              <p class="description">Ever thought of laying down and staring at the beautiful night sky?
              Enhance your knowledge on the celestial bodies at your own level of comfort
              </p>
              <br><br>
              <div class=" d-flex" style="justify-content:space-around; padding-top: 18px;">
                <a href="#"><button class="button-28"  role="button">Register</button></a>
                <a href="#"><button class="button-28"  role="button">Rulebook</button></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxs-plane-land"></i></div>
              <h4 class="title"><a href="">Vichaar</a></h4>
              <p class="description">Calling all budding researchers and aspiring scholars!
                Join us for an exciting Paper Presentation Competition where you'll have the opportunity to showcase your research prowess and communication skills</p>
                <br>
                <div class=" d-flex" style="justify-content:space-around; padding-top: 18px;">
                  <a href="#"><button class="button-28"  role="button">Register</button></a>
                  <a href="#"><button class="button-28"  role="button">Rulebook</button></a>
                </div>
            </div>
          </div>
          
          
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="350">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Tech talks
              </a></h4>
              <p class="description">Dive into a world of cutting-edge ideas and groundbreaking innovations as we present a series of captivating Technical Talks designed to expand your knowledge and ignite your curiosity.</p>
              <br>
              <div class=" d-flex" style="justify-content:space-around; padding-top: 18px;">
                <a href="#"><button class="button-28"  role="button">Register</button></a>
                <a href="#"><button class="button-28"  role="button">Rulebook</button></a>
              </div>
            </div>
          </div>

        </div>

        <div class="section-title"
          style="background: linear-gradient( white,#68A4C4); padding: 5%; font-family:'Sedgwick Ave Display', cursive;">
          
      </div>
      </div>
    </section> -->


    <!-- End Services Section -->

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container_new">
        <h1 class="section-title">
          <center><b>SERVICES</b></center>
        </h1>
        <div class="row">


          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="50">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-plane-alt"></i></div>
              <h4 class="title"><a href="">RC Aeromodelling Workshop</a></h4>
              <p class="description">This workshop gives hands on training in building and understanding theory behind
                Remote-Controlled fixed wing planes.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="50">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-plane-alt"></i></div>
              <h4 class="title"><a href="">Multi Copter Workshop</a></h4>

              <p class="description">A multi-rotor workshop is a hands-on event where participants learn to build and
                fly their own drones, gaining practical skills in drone assembly and flight operation. It's an ideal
                introduction to the world of drone technology and offers a fun and educational experience.</p>

            </div>
          </div>



          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx 
                bx-compass"></i></div>
              <h4 class="title"><a href="">Autonomus UAV Workshop</a></h4>
              <p class="description">This workshop gives hands on experince in building Autonomus UAV. The participants
                will be working with flight controllers with GPS Modules to achieve autonomus flight.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxs-plane-land"></i></div><br>
              <h4 class="title"><a href="">Advanced UAV flying training</a></h4>

              <p class="description">Advanced UAV flying training is a comprehensive process that seamlessly integrates
                simulations and hands-on field training. This multifaceted approach equips pilots with the necessary
                skills and expertise to operate UAVs effectively in complex real-world environments.</p>


            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="250">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx 
                bxs-rocket"></i></div>

              <h4 class="title"><a href="">National & Zonal Level competitions</a></h4>

              <p class="description">Participating in national and zonal level competitions offers numerous benefits.
                Firstly, it provides a platform for individuals to showcase their talents and skills on a broader stage,
                helping them gain recognition and exposure.</p>

            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bxs-plane"></i></div>

              <h4 class="title"><a href="">Government Funded Projects</a></h4>

              <p class="description">Government-funded projects are harnessing the power of innovation by pitching drone
                solution ideas at various events. This proactive approach aims to address real-life problems through
                cutting-edge technology, fostering a brighter future for society.</p>

            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="350">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>

            

              <h4 class="title"><a href="">Building Artificial Intelligence Systems</a></h4>

              <p class="description">Building artificial intelligence systems that harness cutting-edge AI solutions in
                combination with drones presents an innovative approach to efficiently address complex challenges. This
                synergy empowers us to unlock new possibilities in various domains.</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bx-paper-plane"></i></div>

              <h4 class="title"><a href="">Web and App Development</a></h4>

              <p class="description">Web and app development is a dynamic field that empowers individuals to create
                innovative digital solutions. To excel in this industry, one must continually upskill through rigorous
                learning and hands-on projects to stay at the forefront of technological advancements.</p>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="../img/mask2 (1).jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/embed/69K4ASfNzug" class="venobox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a>
            <!--<iframe width="420" height="315" src="https://www.youtube.com/embed/69K4ASfNzug"></iframe>-->

          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">VISION</a></h4>
              <p class="description">To create dynamic and exciting campus life environment that builds community,
                introduces students to new technical experience as well as challenges and support students
                to become active global citizens.
              </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">MISSION</a></h4>
              <p class="description">To encourage students to execute their innovative ideas through technical clubs, by
                creating an ecosystem which will be functional round the clock and managed
                fully by students under the mentorship of both internal and external resource persons.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="400">
      <div class="container_new">
        <br>
        <h1 class="section-title">
          <center><b>OUR PILLARS OF SUPPORT</b></center>
        </h1>

        <div class="slider owl-carousel">

          <!-- <div class="card">
             <div class="img">
                <img src="assets/img/gururaj.jpg" alt="">
           
             </div>

             <div class="content">
                <div class="name">
                  <center>Dr. GURURAJ UPADHYAYA</center>
                </div>
                <div class="name-description"><center>Associate Professor</center>
                <div class="name-description"><center>Department of ME<center>                
                <div class="name-description"><center>NMAMIT</center>
                  <br>
                </div>
                </div>
                </div>
             </div>
          
            
            </div> -->

          <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/gururaj.jpg" style="height: 314px; width: 466px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/gururaj-upadhyaya-24b24515"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. Gururaj Upadhyaya</h4>
                <span>Associate Professor<br>Dept of ME, NMAMIT<br><br><br> </span>

              </div>
            </div>
          </div>


          <!-- 
            <div class="card">
              <div class="img">
                 <img src="assets/img/durgaprasad.jpg" alt="">
              </div>
              <div class="content">
                 <div class="name">
                   <center>Dr. DURGA PRASAD</center>
                 </div>
                 <div class="name-description">
                   <center>Associate Professor</center>
                   <center>Department of ECE</center>
                   <center>NMAMIT</center>

                   <br>
                    </div>
                    
              </div>
             </div> -->





          <!-- <div class="card">
              <div class="img">
                 <img src="assets/img/shashank.jpg" alt="">
              </div>
              <div class="content">
                 <div class="name">
                   <center>Mr. Shashank Shetty</center>
                 </div>
                 <div class="name-description">
                   <center> Assistant Professor</center>
                   <center>Dept of CSE, NMAMIT</center>
                   <center>District Innovation</center>
                   <center>Associate(DIA), NAIN</center>
                 </div>
              </div>
             </div> -->

          <!-- <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/deekshit.jpg" style="height: 310px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/shashank-shetty-a920a573"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Deekshith Prabhu</h4>
                <span> Assistant Professor<br>Dept of CSE, NMAMIT<br>District Innovation Associate(DIA), NAIN </span>
<br>
              </div>
            </div>
          </div> -->



          <!-- <div class="card">
              <div class="img">
                 <img src="assets/img/ananth200.jpeg" alt="">
              </div>
              <div class="content">
                 <div class="name">
                   <center>Mr. ANANTH ERASAPPA</center>
                 </div>
                 <div class="name-description">
                   <center>UAV Operator</center>
                   <center>Aeronautics Group</center>
                   <center>Israel</center>
                   <br>
                 </div>
              </div>
             </div> -->



          <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/ananth200.jpeg" style="height: 314px; width: 466px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/ananth-erasappa-83995583"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Ananth Erasappa</h4>
                <span>UAV Operator<br>UN peacekeeping mission<br><br><br></span>

              </div>
            </div>
          </div>


          <!-- <div class="card">
              <div class="img">
                 <img src="assets/img/harshita1.jpeg" alt="">
              </div>
              <div class="content">
                 <div class="name">
                   <center>Ms. Harshitha GS</center>
                 </div>
                 <div class="name-description">
                   <center>Paid media executive</center>
                   <center>The Ascot Group, UK</center>
                   <br>
                   <br>
                 </div>
              </div>
             </div> -->


          <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/kathik1.jpg" style="height: 308px; width: 466px;" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/karthik-badanidiyoor/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Karthik B</h4>
                <span>Senior executive
                  <br>Tata Aerospace and Defense</span>
                <br><br>
              </div>
            </div>
          </div>




          <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/harshita1.jpeg" style="height: 314px; width: 466px;" class="img-fluid" alt="">

                <div class="social">

                  <a href="https://www.linkedin.com/in/harshitha-g-suresh"><i class="icofont-linkedin"></i></a>
                </div>
              </div>

              <div class="member-info">
                <h4>Ms. Harshitha GS</h4>
                <span>Paid media executive<br>The Ascot Group, UK<br><br><br></span>

              </div>
            </div>
          </div>
          <!-- 
             <div class="card">
              <div class="img">
                 <img src="assets/img/sushmita.jpg" alt="">
              </div>
              <div class="content">
                 <div class="name">
                   <center>Ms. Sushmita S Shetty</center>
                 </div>
                 <div class="name-description">
                   <center>Technical Support Engineer</center>
                   <center>Vmware</center>
                   <br>
                   <br>
                 </div>
              </div>
             </div> -->




          <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/ankith.jpg" style="height: 314px; width: 466px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/ankith-bhandary-1b5234193/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Ankith Bhandary</h4>
                <span>SWE-2<br>Oracle<br><br> <br></span>

              </div>
            </div>
          </div>

          <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/sushmita.jpg" style="height: 314px; width: 466px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/sushmita-s-shetty-125214180"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ms. Sushmita S Shetty</h4>
                <span>DSE<br>Jfrog<br><br><br></span>

              </div>
            </div>
          </div>


          <div class="card">
            <div class="member">
              <div class="member-img">
                <img src="../img/deekshityo.jpg" style="height: 314px; width: 466px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/deekshith-prabhu-1888ba212/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Deekshith Prabhu</h4>
                <span>System Engineer<br>Karman Drones<br><br><br></span>

              </div>
            </div>
          </div>


          <div class="card" style="height: 450px;">
            <div class="member">
              <div class="member-img">
                <img src="../img/team/amankumar.jpg" style="height:310px;" class="img-fluid" alt="">
                <div class="social">

                  <a href="https://www.linkedin.com/in/aman-kumar-srivastav-544591202/"><i
                      class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Aman Kumar Srivastav</h4>
                <span>UAV Design Engineer and Test Pilot <br>blueINFINITY Innovation Labs</span>

              </div>
            </div>
          </div>




        </div>

        <br>

        <script>
          $(".slider").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000, //2000ms = 2s;
            responsiveClass: true,
            responsive: {
              0: {
                items: 1,
                nav: true
              },
              600: {
                items: 3,
                nav: true
              },
              1000: {
                items: 5,
                nav: true,
                loop: true
              }
            },

            autoplayHoverPause: true,
          });
        </script>


      </div>
      </div>

      </div>
    </section><!-- End Why Us Section -->



    <!-- Evenets comming soon start -->
    <section id="new_event" class="services">
      <div class="container_new" data-aos="fade-up" data-aos-delay="100">
        <h1 class="section-title">
          <center><b>OUR EVENTS!!!</b></center>
        </h1>


        <div class="row">
          <a>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="200">
              <div class="icon-box icon-box-cyan">
                <div class="vib">
                  <!-- <div> <img src="../img/lock3.jpg" alt=""></div> -->
                  <br>

                  <div>
                    <h4 style="color: rgb(73, 43, 3);"><b>RC<br> AERO MODELLING WORKSHOP-2023</b></h4>
                  </div>
                  <br>
                  <br>
                  <h4 class="title"><a href="#"><b>Completed!</b></a></h4>

                  <p class="description">One of the most awaited workshops. Get a chance to build your own chuck
                    RC planes and a chance your to see your plane fly. </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="100">
              <div class="icon-box icon-box-cyan">
                <div class="vib">
                  <div>
                    <h4 style="color: rgb(73, 43, 3); padding-top: 7%;"><b>QUAD<br>WORKSHOP-2023</b></h4>
                  </div>
                  <br><br><br>
                  <h4 class="title"><a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSf6oWYc5YvGR0JyTSa6AaS6uU4xtFI51aUz7YZghJ_jxzmGzQ/viewform"><b>Register Now!</b></a></h4>

                  <p class="description">Get handons experience on fabrication of a quadcopter and it's application. </p>
                  <!-- <h4 class="title"><a href="/register"><b>Register here!!!</b></a></h4> -->
                  <!-- <p class="description">Aero Club Nitte membership registration. Valid for 4 years.</p> -->
                </div>
              </div>
            </div>
          </a>
          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="200">
            <div class="icon-box icon-box-cyan">
              <div class="vib">
                <div> <img src="../img/lock3.jpg" alt=""></div> -->
          <!-- <br>
                <br>
                <div>
                  <h1 style="color: darkblue;"><b>TECHCRIO</b></h1>
                </div>
                <br>
                <br>

                <h4 class="title"><a href="https://www.teaminfitude.com/"><b>Register here!!!</b></a></h4>

                <p class="description">National level content creation competition in association with Team Infitude.
                </p>
              </div>
            </div>
          </div> -->


          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="vib">
                <div> <img src="../img/lock3.jpg" alt=""></div>
                <br>
                <h4 class="title"><a href=""><b>Coming soon!!!</b></a></h4>

                <p class="description">A competition <br>You would need to be ready to crack the challenge, Keep
                  guessing.... </p>
              </div>
            </div>
          </div>







          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="200">
          <div class="icon-box icon-box-cyan">
            <div class="vib">
            <br>
            <h4 class="title"><a href=""><b>BASIC AEROMODELLING WORKSHOP</b></a></h4>
          
            <p class="description">A new Workshop.<br>#autonomousflight #fixedwing, #flightcontroller, #mission_planner. </p>
          </div>
        </div>
        </div> 

        </div>
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="vib">
              <div> <img  style='height: 100%; width: 100%; object-fit: contain' src="../img/mania1.png" alt=""></div>
              <br>
              <h4 class="title"><a href="https://forms.gle/KQVu9Bcyb1jJFYdt9"><b>Register here!!!</b></a></h4>
              <p class="description">A National level flying competition</p>
              <h4 class="title"><a href="/register"><b>Register here!!!</b></a></h4>
          <!-- <p class="description">Aero Club Nitte membership registration. Valid for 4 years.</p> 
            </div>
          </div>
        </div>
        -->

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="vib">
                <div> <img src="../img/lock3.jpg" alt=""></div>
                <br>
                <h4 class="title"><a href=""><b>Coming soon!!!</b></a></h4>

                <p class="description">A competition <br>You would need to be ready to crack the challenge, Keep
                  guessing.... </p>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container_new">

        <div class="section-title">
          <h1><b>ACHIEVEMENTS</b></h1>

        </div>
        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/wrightflight2.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                  alt="">
              </div>
            </div>



            <div class="col-md-7 pt-4">
              <h3>WRIGHT FLIGHT - 2023</h3>
              <p class="font-italic">
                It is a aeromodelling event where the planes have to perform various aerial stunts and pass through
                limbo ,which was held at NIT Karnataka.
              </p>
              <ul>

                <li><i class="icofont-check"></i>1st place</li>
                <br>

              </ul>
            </div>
          </div>
        </div>



        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/saeddc.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE DDC INDIA - 2023</h3>
              <p class="font-italic">
                The micro class division of drone development challenge.
              </p>
              <ul>
                <li><i class="icofont-check"></i>AIR 1</li>

                <br>

              </ul>
            </div>
          </div>
        </div>



        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/boeingfinals.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                  alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION FINALS - 2023</h3>
              <p class="font-italic">
                IIT National Aeromodelling Competition for students in India is sponsored by Boeing, and in
                collaboration with IIT Bombay, IIT Kanpur, IIT Kharagpur, IIT Madras and RVCE.The competition is
                launched with the vision to provide a unified national platform for students interested in aerospace and
                related engineering disciplines - to demonstrate their aero-modeling expertise.
              </p>
              <ul>

                <li><i class="icofont-check"></i>2nd place </li>
                <li><i class="icofont-check"></i>3rd place </li>

                <br>

              </ul>
            </div>
          </div>
        </div>

        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/team/iit roorkee.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                  alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>COGNIZANCE</h3>
              <p class="font-italic">
                An aeromodelling and multi-rotor competition where the planes were supposed to peform manouevers and
                multi-rotors had to complete missions which was held in IIT ROORKEE.
              </p>
              <ul>
                <li><i class="icofont-check"></i>2nd place in FlightFury-2023</li>
                <li><i class="icofont-check"></i>3rd place in AeroHelix-2023</li>
                <br>

              </ul>
            </div>
          </div>
        </div>



        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/IITKANPUR.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION KANPUR - 2023</h3>
              <p class="font-italic">
                The competition is designed to provide a unified national platform for students interested in aerospace
                and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                careers in aerospace engineering. </p>
              <ul>
                <li><i class="icofont-check"></i>1st place </li>
                <li><i class="icofont-check"></i>2nd place </li>
                <li><i class="icofont-check"></i>3rd place </li>

                <br>

              </ul>
            </div>
          </div>
        </div>


        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/IITM.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION MADRAS - 2023</h3>
              <p class="font-italic">
                The competition is designed to provide a unified national platform for students interested in aerospace
                and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                careers in aerospace engineering.
              <ul>

                <li><i class="icofont-check"></i>2nd place </li>

                <br>

              </ul>
            </div>
          </div>
        </div>

        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/iitbombay.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION BOMBAY - 2022</h3>
              <p class="font-italic">
                The competition is designed to provide a unified national platform for students interested in aerospace
                and related engineering disciplines to demonstrate their aeromodelling expertise. It also aims to
                promote innovation and creativity in the field of aeromodelling, and to encourage students to pursue
                careers in aerospace engineering. </p>
              <ul>

                <li><i class="icofont-check"></i>2nd place </li>

                <br>

              </ul>
            </div>
          </div>
        </div>

        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/wrightflight1.jpg" style="width: 600px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>AEROPHILIA</h3>
              <p class="font-italic">
                A aeromodelling event where the planes have to perform manouevering ,which was held at Sahyadri College
                Of Engineering and Mangagement.
              </p>
              <ul>
                <li><i class="icofont-check"></i>1st place and 2nd place in the year 2022</li>

                <br>

              </ul>
            </div>
          </div>
        </div>


        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/wrightflight.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded"
                  alt="">
              </div>
            </div>



            <div class="col-md-7 pt-4">
              <h3>WRIGHT FLIGHT - 2022</h3>
              <p class="font-italic">
                It is a aeromodelling event where the planes have to perform various aerial stunts and pass through
                limbo ,which was held at NIT Karnataka.
              </p>
              <ul>
                <li><i class="icofont-check"></i>2nd place</li>
                <li><i class="icofont-check"></i>3rd place</li>
 <br>

              </ul>
            </div>
          </div>
        </div>



        <!-- <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/sae5.jpg" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE India-2022</h3>
              <p class="font-italic">
                The micro class division of SAEISS aero design challenge held at SRM University, Chennai in 2022.
              </p>
              <ul>
                <li><i class="icofont-check"></i> 5th rank in India</li>
                <li><i class="icofont-check"></i> 2nd rank in Karnataka</li>
                <br>

              </ul>
            </div>
          </div>
        </div>



        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/sae5.jpg" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE India-2019</h3>
              <p class="font-italic">
                The micro class division of SAEISS aero design challenge held at SRM University, Chennai in 2019.
              </p>
              <ul>
                <li><i class="icofont-check"></i> 5th rank in India</li>
                <li><i class="icofont-check"></i> 2nd rank in Karnataka</li>
                <br>

              </ul>
            </div>
          </div>
        </div>



        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/sae5.jpg" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE India-2019</h3>
              <p class="font-italic">
                The micro class division of SAEISS aero design challenge held at SRM University, Chennai in 2019.
              </p>
              <ul>
                <li><i class="icofont-check"></i> 5th rank in India</li>
                <li><i class="icofont-check"></i> 2nd rank in Karnataka</li>
                <br>

              </ul>
            </div>
          </div>
        </div>



        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/sae5.jpg" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE India-2019</h3>
              <p class="font-italic">
                The micro class division of SAEISS aero design challenge held at SRM University, Chennai in 2019.
              </p>
              <ul>
                <li><i class="icofont-check"></i> 5th rank in India</li>
                <li><i class="icofont-check"></i> 2nd rank in Karnataka</li>
                <br>

              </ul>
            </div>
          </div>
        </div>


        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/sae5.jpg" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE India-2019</h3>
              <p class="font-italic">
                The micro class division of SAEISS aero design challenge held at SRM University, Chennai in 2019.
              </p>
              <ul>
                <li><i class="icofont-check"></i> 5th rank in India</li>
                <li><i class="icofont-check"></i> 2nd rank in Karnataka</li>
                <br>

              </ul>
            </div>
          </div>
        </div> -->

        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/sae2.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE ADC INDIA - 2022</h3>
              <p class="font-italic">
                The micro class division of SAEISS aero design challenge.

              </p>
              <ul>
                <li><i class="icofont-check"></i>AIR 2 in SAE ADC - 2022</li>

                <br>

              </ul>
            </div>
          </div>
        </div>

        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/sae5.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>SAE INDIA - 2019</h3>
              <p class="font-italic">
                The micro class division of SAEISS aero design challenge.
              </p>
              <ul>
                <li><i class="icofont-check"></i>Participated in Virtual Aerodesign Contest in 2021</li>
                <li><i class="icofont-check"></i>AIR 5 in SAE ADC - 2019</li>

                <br>

              </ul>
            </div>
          </div>
        </div>
        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="100">

            <div class="col-md-5 ">

              <div class="img-blur">
                <img src="../img/boeing4.jpg" style="width: 600px; height: 350px;" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-md-7 pt-4">
              <h3>BOEING IIT NATIONAL AEROMODELLING COMPETITION</h3>
              <p class="font-italic">
                The competition is conducted in IIT Bombay, IIT Chennai, IIT Kharagpur, IIT Kanpur and IIT Delhi.
              </p>
              <ul>
                <li><i class="icofont-check"></i>1st runner-up at IIT Kanpur in 2016-17</li>
                <li><i class="icofont-check"></i>Winner and 1st runner-up at IIT Kharagpur in 2017-18</li>
                <li><i class="icofont-check"></i>Top 30 at IIT Bombay in 2017-18</li>
                <li><i class="icofont-check"></i>5th place at IIT Madras in 2018-19</li>
                <li><i class="icofont-check"></i>4 teams in top 30 at IIT Chennai in 2018-19</li>
                <li><i class="icofont-check"></i>5th and 6th place at IIT Chennai in 2019-20</li>



                <br>
              </ul>
            </div>
          </div>
        </div>


        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="350">
            <div class="col-md-5">
              <div class="img-blur">
                <img src="../img/mit_fest1.jpg" class="img-fluid" alt="">
              </div>
            </div>


            <div class="col-md-7 pt-5">
              <h3>SKY-RUSH</h3>
              <p class="font-italic">National level aeromodelling competition held at Techtatva , MIT , Manipal. </p>
              <ul>
                <li><i class="icofont-check"></i>1st place in 2019-20</li>
                <br>
              </ul>
            </div>
          </div>
        </div>

        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="350">
            <div class="col-md-5">

              <img src="../img/aicte.jpg" style="width: 600px; height: 350px;" class="img-fluid" alt="">
            </div>



            <div class="col-md-7 pt-5">
              <h3>AICTE-SPICES SANCTION 2021-22</h3>
              <p class="font-italic">The club has received Rs. 1,00,000 as Grant-in-Aid under AICTE-SPICES for the year
                2021-22. This fund will be utilized for conducting varoius activities of the academic year 2021-22.</p>
              <br>
              <ul>

              </ul>
            </div>
          </div>
        </div>

        <div class="give-padding">
          <div class="row" data-aos="fade-right" data-aos-delay="350">
            <div class="col-md-5">
              <!-- <div class="img-blur"> -->
              <img src="../img/nain.jpeg" style="width: 600px; height: 350px;" class="img-fluid" alt="">
            </div>
            <!-- </div> -->


            <div class="col-md-7 pt-5">
              <h3>NEW AGE INNOVATION NETWORK - NMAMIT</h3>
              <p class="font-italic">A unit of Karnataka Innovation Technology Society (KITS), Government of Karnataka.
              </p>
              <br>
              <p>Till now 4 project ideas have got funding upto Rs. 3,00,000 each</p>
              <ul>
                <li><i class="icofont-check"></i> HAAPS (High Altitude Aernautical Platform Station)</li>
                <li><i class="icofont-check "> </i> Aerial Crop Yield Estimator</li>
                <li><i class="icofont-check "> </i> Aerial Crop Health Monitoring System</li>
                <li><i class="icofont-check "></i> Aerial Pesticide Sprayer</li>
                <br>

              </ul>
            </div>
          </div>
        </div>



      </div>


    </section><!-- End Features Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos-duration="500">

    <div class="container">

      <div class="copyright">
        <a href="https://www.facebook.com/aeroclubnitte/" class="facebook"><i class="bx bxl-facebook bx-sm"></i></a>
        <a href="#" class="facebook"><i></i></a>

        <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"><i
            class="bx bxl-instagram bx-sm"></i></a>
        <a href="#" class="facebook"><i></i></a>

        <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"><i
            class="bx bxl-linkedin bx-sm"></i></a>
        <br>
        &copy;
        Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../vendor/counterup/counterup.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/aos/aos.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <script>
    const scrollingBox = document.getElementById('scrollingBox');
    let isSmaller = false;
    const stick_to_top = document.createElement('nav');
    window.addEventListener('scroll', () => {
      if (window.scrollY > 800 && !isSmaller) {
        scrollingBox.classList.add('smaller');
        isSmaller = true;
      } else if (window.scrollY <= 600 && isSmaller) {
        scrollingBox.classList.remove('smaller');
        isSmaller = false;
      }
    });
  </script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>
