<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aero Club Nitte</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo_aero.png" rel="icon">
  <link href="../img/logo_aero.png" rel="aero_logo">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container_new">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/home"><span>AERO CLUB NITTE</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/home">Home</a></li>

          <li><a href="/projects">Projects</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/team">Team</a></li>

          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/vayurvya">Vayurvya</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container_new">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Projects</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Our Projects</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Services Section ======= -->
    <section id="projects" class="services">
      <div class="container_new">
        
          
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxs-plane-alt"></i></div>
              <h4 class="title"><a href="">Solar Powered radio controlled plane</a></h4>
              <p class="description">Solar energy being renewal is used to run the motor of RC plane. The motor drew 6-7 volts of supply and 60-40 amps of current. So 14 Solar cells of 0.5 volts and 6 amp panels each where installed on the aircraft, henceforth achieving a successfull flight. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-plane-land"></i></div>
              <h4 class="title"><a href="">UMANTIS</a></h4>
              <p class="description">Unmanned aerial navigation and terrestrial vehicle. It is developed with aerial surveilance cum terrestrial surveilance unmanned vehicle. A prototype was developed of the hybrid version.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx 
                bxs-rocket"></i></div>
              <h4 class="title"><a href="">HAAPS</a></h4>
              <p class="description">High altitude aernautical platform station. They are operated in 17-22 km altitude of stratospheric layer. It is developed for long range wireless narrow band and broadband telecommunications as well as broadcasting services.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Aerial crop yield estimator</a></h4>
              <p class="description">The project focuses on overcoming the challenges faced in conventional methods of crop yield estimation. The drone data with appropriate ground sample distance is collected and the crop yield is estimated using Convolution Neural Network.</p>
            </div>
          </div>

         
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx 
                bx-compass"></i></div>
              <h4 class="title"><a href="">Aerial crop health monitoring system</a></h4>
              <p class="description">Drone based crop health monitoring system to differentiate between the healthy and unhealthy crops in agricultural field using infrared photography and image processing to calculate the normalised difference vegetative index(NDVI).</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-plane-take-off"></i></div>
              <h4 class="title"><a href="">Aerial Pesticide sprayer</a></h4>
              <p class="description">Aerial pesticide sprayer is a multicopter which can fly over crops and spray pesticide while maintaining a particular altitude.</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bxs-plane"></i></div>
              <h4 class="title"><a href="">Hotwire Airfoil Cutter</a></h4>
              <p class="description">It is a device based on heating principle i.e, conversion of electric energy into heat energy. The hot wire enables to pass through the specified material. It was developed to make the fabrication of the wing easier.</p>
            </div>
          </div>
          

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bxs-plane-alt"></i></div>
              <h4 class="title"><a href="">Stable airplane Configuration</a></h4>
              <p class="description">The main objective of this project is to design, construct and fly a remote controlled aircraft having high stability at lower and higher speeds while taking into account the availaible power, aircrafts length, width and height requirements.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx 
                bx-compass"></i></div>
              <h4 class="title"><a href="">Autonomous Plane(ongoing)</a></h4>
              <p class="description">Drone based crop health monitoring system to differentiate between the healthy and unhealthy crops in agricultural field using infrared photography and image processing to calculate the normalised difference vegetative index(NDVI).</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-plane-take-off"></i></div>
              <h4 class="title"><a href="">VTOL(ongoing)</a></h4>
              <p class="description">Create an advanced VTOL aircraft with vertical takeoff and landing capabilities and assist in creating transport options that are safer and  effective. Encouraging collaborative design, thorough testing, and ongoing innovation.</p>
            </div>
          </div>
          

        </div>

      </div>
    </section><!-- End Services Section -->

  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer"  data-aos-easing="ease-in-out" data-aos-duration="500" >

    <div class="container">

      <div class="copyright">
        <a href="https://www.facebook.com/aeroclubnitte/" class="facebook"><i class="bx bxl-facebook bx-sm"></i></a>
        <a href="#" class="facebook"><i></i></a>
        
        <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"><i class="bx bxl-instagram bx-sm"></i></a>
        <a href="#" class="facebook"><i ></i></a>
        
        <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"><i class="bx bxl-linkedin bx-sm"></i></a>
        <br>
        &copy; 
        Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>
  <script src="../vendor/venobox/venobox.min.js"></script>
  <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../vendor/counterup/counterup.min.js"></script>
  <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</body>

</html>
