<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AERO CLUB NITTE</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/logo_aero.png" rel="icon">
  <link href="../img/logo_aero.png" rel="logo_aero">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/home"><span>AERO CLUB NITTE</span></a></h1>
        
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          
          <li class="active"><a href="/home">Home</a></li>

          <li><a href="/projects">Projects</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/team">Team</a></li>

          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/vayurvya">Vayurvya</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <div class="background_new">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    
     
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      
      <div class="container">


            <div class="row">
              <div class="col-md-12">
              
                   <center><div class="">
                  <a href="https://forms.gle/UjrsTmXsG9awc31e8" class="button"><h1><b>REGISTRATION!!!</b></h1>
                  <button type="button" class="btn btn-primary">Click Here</button>    
                </a>
                
                
            

              </div></center>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>

              </div>
            </div>

          

         
        

      </div>
    </section><!-- End Contact Section -->
    </div>

    <!-- ======= Map Section ======= -->
<!-- End Map Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer id="footer"  data-aos-easing="ease-in-out" data-aos-duration="500" >

      <div class="container">
  
        <div class="copyright">
          <a href="https://www.facebook.com/aeroclubnitte/" class="facebook"><i class="bx bxl-facebook bx-sm"></i></a>
          <a href="#" class="facebook"><i></i></a>
          
          <a href="https://instagram.com/aeroclubnitte?utm_medium=copy_link" class="instagram"><i class="bx bxl-instagram bx-sm"></i></a>
          <a href="#" class="facebook"><i ></i></a>
          
          <a href="https://www.linkedin.com/company/aeroclub-nitte" class="linkedin"><i class="bx bxl-linkedin bx-sm"></i></a>
          <br>
          &copy; 
          Copyright <strong><span>Aero Club Nitte</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../vendor/php-email-form/validate.js"></script>
    <script src="../vendor/venobox/venobox.min.js"></script>
    <script src="../vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../vendor/counterup/counterup.min.js"></script>
    <script src="../vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../vendor/aos/aos.js"></script>
  
    <!-- Template Main JS File -->
    <script src="../js/main.js"></script>

</body>

</html>
